#get {
    font-family: 'Oswald', sans-serif;
    text-shadow: 3px 3px 5px #969696;
    text-transform: uppercase;
    font-size: 60px;
    letter-spacing: 8px;
}


#cinema{
    width: 300px;
    height: auto;
}