@main("About Us") {
    <div class="container text-light">
        <h1 id="abtxt">About Us</h1>
        <h6 id="desctxt">We are a team of developers called Team Fire</h6>
        <h6 id="cutxt"><a href="/contactus">Contact us here</a></h6>
        <hr/>
        <div class="row" id="abcol">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="@routes.Assets.versioned("images/jake.png")" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Jake Reid</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Developer</li>
                        <li class="list-group-item">jake@@qa.com</li>
                    </ul>
                    <div class="card-body">
                        <i class="bi bi-twitter"></i>
                        <i class="bi bi-instagram"></i>
                        <i class="bi bi-github"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="@routes.Assets.versioned("images/jasb&w.png")" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Jasdeep Bansal</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Developer</li>
                        <li class="list-group-item">jasdeep@@qa.com</li>
                    </ul>
                    <div class="card-body">
                        <i class="bi bi-twitter"></i>
                        <i class="bi bi-instagram"></i>
                        <i class="bi bi-github"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="@routes.Assets.versioned("images/iqra.png")" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Iqra Hussain</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Developer</li>
                        <li class="list-group-item">iqra@@qa.com</li>
                    </ul>
                    <div class="card-body">
                        <i class="bi bi-twitter"></i>
                        <i class="bi bi-instagram"></i>
                        <i class="bi bi-github"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="@routes.Assets.versioned("images/simon.jpeg")" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Simon Forster</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Developer</li>
                        <li class="list-group-item">simon@@qa.com</li>
                    </ul>
                    <div class="card-body">
                        <i class="bi bi-twitter"></i>
                        <i class="bi bi-instagram"></i>
                        <i class="bi bi-github"></i>
                    </div>
                </div>
            </div><p></p>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="@routes.Assets.versioned("images/ayub.png")" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Ayub Yusuf</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Developer</li>
                        <li class="list-group-item">ayub@@qa.com</li>
                    </ul>
                    <div class="card-body">
                        <i class="bi bi-twitter"></i>
                        <i class="bi bi-instagram"></i>
                        <i class="bi bi-github"></i>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
}