@main("About Us") {
    <div class="container text-light">
        <h1 id="abtxt">About Us</h1>
        <h6 id="desctxt">We are a team of developers called Team Fire</h6>
        <h6 id="cutxt"><a href="/contactus">Contact us here</a></h6>
        <hr/>
        <div class="row" id="abcol">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="@routes.Assets.versioned("images/jake.png")" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Jake Reid</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Developer</li>
                        <li class="list-group-item">jake@@qa.com</li>
                    </ul>
                    <div class="card-body">
                        <i class="bi bi-twitter"></i>
                        <i class="bi bi-instagram"></i>
                        <i class="bi bi-github"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="@routes.Assets.versioned("images/jasb&w.png")" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Jasdeep Bansal</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Developer</li>
                        <li class="list-group-item">jasdeep@@qa.com</li>
                    </ul>
                    <div class="card-body">
                        <i class="bi bi-twitter"></i>
                        <i class="bi bi-instagram"></i>
                        <i class="bi bi-github"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="@routes.Assets.versioned("images/iqra.png")" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Iqra Hussain</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Developer</li>
                        <li class="list-group-item">iqra@@qa.com</li>
                    </ul>
                    <div class="card-body">
                        <i class="bi bi-twitter"></i>
                        <i class="bi bi-instagram"></i>
                        <i class="bi bi-github"></i>
                    </div>
                </div>
            </div>
            <p></p>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="@routes.Assets.versioned("images/simon.jpeg")" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Simon Forster</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Developer</li>
                        <li class="list-group-item">simon@@qa.com</li>
                    </ul>
                    <div class="card-body">
                        <i class="bi bi-twitter"></i>
                        <i class="bi bi-instagram"></i>
                        <i class="bi bi-github"></i>
                    </div>
                </div>
                </div>

                    <div class="col-sm">
                        <div class="card" style="width: 18rem;">
                            <img src="@routes.Assets.versioned("images/ayub.png")" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Ayub Yusuf</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Developer</li>
                                <li class="list-group-item">ayub@@qa.com</li>
                            </ul>
                            <div class="card-body">
                                <i class="bi bi-twitter"></i>
                                <i class="bi bi-instagram"></i>
                                <i class="bi bi-github"></i>
                            </div>
                        </div>
                    </div>
            <div class="col-sm">
            </div>
            </div>
            <p></p>
            <hr/>
        <!---Scrum Info--->

        <div class="container text-light">
            <h1 id="abtxt">Scrum</h1>
            <h6 id="desctxt">Summary :</h6>
            <p>The SCRUM methodology is a framework in which people are able to address complex adaptive problems in which they are creatively and productively delivering products of the highest possible value.  </p>
            <h6 id="cutxt"><a href="https://www.scrum.org/">Scrum.org</a></h6>
            <div class="col-">
        </div>
        </div>

        <hr/>
        <br>
        <p>Generally there are three roles within a SCRUM team:</p>
        <div class="container">
            <div class="row" >
                <div class="p-3 mb-1 bg-light text-dark">.
                <div class="col"><strong>Product Owner:</strong><br>
                    This person is accountable for maximising the value of the product resulting from the work of the SCRUM team. How this is done can vary across organisations, teams and individuals. The main thing the product owner is accountable for is effective Product Backlog management, this includes:
                    <li>Developing and explicitly communicating the Product Goal</li>
                    <li>Creating and clearly communicating the product backlog items</li>
                    <li>Ordering the product backlog items</li>
                    <li>Ensuring that the product backlog is transparent, visible and easily understood by the team</li>
                </div>
                </div>
                <p></p>
                <div class="p-3 mb-1 bg-light text-dark">.
                    <br class="col"><strong>SCRUM Master:</strong> <br> The SCRUM master serves the SCRUM team in several ways including:
                    <li>Coaching the team members in self-management and cross-functionality</li>
                    <li>Helping the SCRUM team focus on creating high value increments that meet the definition of done(acceptance criteria).</li>
                    <li>Causing the removal of blockers to the SCRUM team’s progress</li>
                    <li>Ensuring that all SCRUM events take place and are positive and productive and kept within the timebox.</li>
                </div>
                </div>



            <p></p>
            <div class="row align-items-center h-100" >
                <div class="card">
                <img src="@routes.Assets.versioned("images/scrum team.png")" class="card-img-top" alt="..." STYLE="width: 1000px">
            </div>
        </div>
                <p></p>

            <div class="p-3 mb-1 bg-light text-dark" STYLE="width: auto">.
            <br class="col"><strong>Developer:</strong><br>
                    The role of a developer may seem self-explanatory, however they are more involved than just being a software developer in the team. Developers are committed to creating any aspect of a usable increment each Sprint. They’re always accountable for:
                <li>Creating a plan for the sprint and the sprint backlog</li>
                <li>Instilling quality by adhering to the definition of done(acceptance criteria)</li>
                <li>Adapting their plan each day toward the sprint goal</li>
                <li>Holding each other accountable as professionals</li>
                </br>
            </div>

            <hr/>

            <p>Key elements involved with a scrum:</p>

            <div class="p-3 mb-1 bg-light text-dark">.
                <br class="col"><strong>Epics:</strong><br>
                An Epic can be defined as a big chunk of work that has one common objective. It could be a feature, customer request or business requirement. In backlog, it is a placeholder for a required feature with few lines of description. It tells compactly about final output of user needs. In the beginning, it may not contain all the details that the team needs to work on. These details are defined in User Stories. An epic usually takes more than one sprint to complete.
                </br>
            </div>

            <div class="p-3 mb-1 bg-light text-dark">.
                <br class="col"><strong>User Stories:</strong><br>
                A user story is an informal, general explanation of a software feature written from the perspective of the end user. Its purpose is to articulate how a software feature will provide value to the customer.
                </br>
            </div>

            <div class="p-3 mb-1 bg-light text-dark">.
                <br class="col"><strong>Tasks:</strong><br>
                Tasks are the smallest unit used in scrum to track work. A task should be completed by one person on the team, though the team may choose to pair up when doing the work. Typically, each user story will have multiple associated tasks.
                </br>
            </div>

            <div class="p-3 mb-1 bg-light text-dark">.
                <br class="col"><strong>Sprints:</strong><br>
                A sprint is a short, time-boxed period when a scrum team works to complete a set amount of work. Sprints are at the very heart of scrum and agile methodologies, and getting sprints right will help your agile team ship better software with fewer headaches.
                </br>
            </div>

            <div class="p-3 mb-1 bg-light text-dark">.
                <br class="col"><strong>Blockers:</strong><br>
                Blockers are also known as impediments in Scrum, and issues in more traditional project management approaches. A blocker doesn't necessarily have to be a complete show stopper. Drag factors are also another form of blocker, that is, things that are slowing the team (or individual) down but not stopping them entirely.
                </br>
            </div>

            <div class="p-3 mb-1 bg-light text-dark">.
                <br class="col"><strong>Stand Up Meetings::</strong><br>
                The stand-up meeting is sometimes also referred to as the "stand-up", "morning rollcall" or "daily scrum". The meeting should usually take place at the same time and place every working day. All team members are encouraged to attend, but the meetings are not postponed if some of the team members are not present.
                </br>
            </div>

            <div class="p-3 mb-1 bg-light text-dark">.
                <br class="col"><strong>Planning Poker:</strong><br>
                Planning poker (also called Scrum poker) helps agile teams estimate the time and effort needed to complete each initiative on their product backlog. ... These cards, which look like playing cards, estimate the number of story points for each backlog story or task up for discussion.
                </br>
            </div>

            <div class="p-3 mb-1 bg-light text-dark">.
                <br class="col"><strong>Sprint retrospective:</strong><br>
                The sprint retrospective is usually the last thing done in a sprint. Many teams will do it immediately after the sprint review. The entire team, including both the ScrumMaster and the product owner should participate. You can schedule a scrum retrospective for up to an hour, which is usually quite sufficient.
                </br>
            </div>

            <hr/>
            <p>Implementing Scrum within the development of Qa Cinema:</p>

            <div class="p-3 mb-1 bg-light text-dark">.
                <br class="col"><strong>Initial planning stages of the project:</strong><br>
                Within the beginning of the project as a team we broke down the websites specification, creating user stories,epics and sub tasks within jira. Epics included chunks of related user stories and sub tasks that relate to each other, within our project we had multiple epics as an example we had an epic called Listings Gallery , this epic consisted of all the user stories and tasks associated with the page. After creating all the epic,user stories and tasks we then started planning poker, this will give each user story and task an average score of effort, this helped in the overall project as we could prioritize tasks based on their effort and strategically tackle these tasks as a team. After completing planning poker each member of the team selected the task/user story they would like to tackle and we started as a group .
            </div>

            <div class="p-3 mb-1 bg-light text-dark">.
                <br class="col"><strong>Working in a Scrum ,daily activities:</strong><br>
                Working in scrum we had daily stand up meetings that were performed in the mornings, organised by our scrum master. The scrum master controlled the meeting making sure the meetings flow was maintained by selecting whose turn it is and generally seeing at what state everyone is and resolving any issues such as blockers.  The Developers of the scrum individually explained what they had completed/worked on the day before and explain any blockers they may have come into and explained what they  would be working on today, these meetings tend to be really short and to the point, these meetings helped us all understand where we was at in the project and overcome any blockers. Our Team find these meetings very helpful for understanding where the project was at and when we did run in to blockers we found solutions very fast due to us all being within the meeting.
            </div>

            <div class="p-3 mb-1 bg-light text-dark">.
                <br class="col"><strong>Finishing the first sprint:</strong><br>
                Our first sprint was a week Monday - Friday, on the Friday we completed our first sprint we had done a very good job at completing our tasks that we had set in out in our sprint with over 90% of the tasks being completed, the one that we had left were smaller tasks as we prioritised functional  tasks for the first week, the tasks and user stories we had left got moved back to the backlog for the next Sprint.
            </div>

            <div class="p-3 mb-1 bg-light text-dark">.
                <br class="col"><strong>Starting second sprint:</strong><br>
                Starting our first sprint we done a Sprint Retrospective, this is where we looked at what could have been improved from last sprint, as a group we agreed that we could have improved on our initial planning investing more time on making a more detailed plan on how the website will function and how that will effect the backend. We also all agreed that we worked well as a group supporting each other and having clear communication lines. After this we then started planning our next
            </div>

            <hr/>
        </div>

    </div>
}