@import views.html.helper.form
@import Persistence.Domain.BookingFormOBJ.Booking
@(form: Form[Booking])(implicit messages: Messages)

@main("booking page") {
    <div class="container text-light">
        <br><h1 id="get">Booking Page</h1><hr/>

    @helper.form(routes.HomeController.createBooking()){
        <div class="form-floating">
            @helper.inputText(form("Screen Date"), Symbol("label") -> "screenDate", Symbol("showConstraints") -> false)
            @helper.inputText(form("Full Name"), Symbol("label") -> "cName", Symbol("showConstraints") -> false)
            @helper.inputText(form("Adult"), Symbol("label") -> "adults", Symbol("showConstraints") -> false)
            @helper.inputText(form("Child"), Symbol("label") -> "childs", Symbol("showConstraints") -> false)
            @helper.inputText(form("Concession"), Symbol("label") -> "concession", Symbol("showConstraints") -> false)
            @helper.inputText(form("Screen ID"), Symbol("label") -> "screenId", Symbol("showConstraints") -> false)
            @helper.inputText(form("Movie ID"), Symbol("label") -> "screenId", Symbol("showConstraints") -> false)
            <button class="btn btn-primary" type="submit">Submit!</button>
        </div>
    </div>
    }
}