@import Persistence.Domain.EmailOBJ.Email
@import Persistence.Domain.EmailOBJ
@(contactEmail: Form[Email])(implicit messages: Messages)

@main("Contact Us") {
    <div class="container text-light">
        <br><h1 id="ctxt">Contact Us</h1><hr/>
        <h4 id="find">Where to find us</h4>
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1PlZOY3Swroapc8RN8-mXy3o3lOrOZi0B" width="900" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe><hr>
        <div class="row">
            <div class="col-sm-6">
                <div class="card" id="ccard">
                    <div class="card-body">
                        <h5 class="card-title"><i class="bi bi-geo-alt-fill"></i> Address</h5><hr/>
                        <p class="card-text">8th Floor, St James Buildings<br> 79 Oxford Street<br> Manchester<br> M1 6FQ<br></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" id="ccard">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="bi bi-info-circle-fill"></i> Contact information</h5><hr/>
                        <p class="card-text"><i class="bi bi-telephone-fill"></i> 0345 074 7857<br>
                            <i class="bi bi-envelope-fill"></i></i> qacinema@@qa.com</p>
                        <a href="https://www.twitter.com/" target="_blank"><i class="bi bi-twitter"></i></a>  <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>  <a href="http://www.youtube.com/" target="_blank"><i class="bi bi-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div id="fcf-form">
            <h3 class="fcf-h3">Contact us</h3>
                @helper.form(routes.HomeController.contactUs()) {
                <div class="fcf-form-group">
                    <label for="Name" class="fcf-label">Your name</label>
                    <div class="fcf-input-group">
                        @helper.input(contactEmail("name")) { (id, name,  value, args) =>
                        <input type="text" id="@id" name="@name" class="fcf-form-control" @toHtmlArgs(args)>
                        }
                    </div>
                </div>

                <div class="fcf-form-group">
                    <label for="Email" class="fcf-label">Your email address</label>
                    <div class="fcf-input-group">
                        @helper.input(contactEmail("from")) { (id, name, value, args) =>
                        <input type="email" id="@id" name="@name" class="fcf-form-control" required @toHtmlArgs(args)>
                        }
                    </div>
                </div>

                <div class="fcf-form-group">
                    <label for="Message" class="fcf-label">Your message</label>
                    <div class="fcf-input-group">
                        @helper.input(contactEmail("content")) { (id, name, value, args) =>
                            <textarea id="@id" name="@name" class="fcf-form-control" rows="6" maxlength="3000" @toHtmlArgs(args)></textarea>
                        }
                    </div>
                </div>

                <div class="fcf-form-group">
                    <button type="submit" id="fcf-button" class="fcf-btn fcf-btn-primary fcf-btn-lg fcf-btn-block">Send Message</button>
                </div>
                }
        </div>
    </div>
</div>

}
