@main("Welcome to Play") {


<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
</head>
<body>
<div class="container" >
    <h1>Contact us</h1>
    <div class="row">
        <div class="col">
            <br><br>
            <h4>Phone Number:</h4>
            <h5>0345 074 7857</h5>
            <p></p>

            <h4>Address:</h4>
            <h5>8th Floor, St James Buildings<br>
                79 Oxford Street<br>
                Manchester<br>
                M1 6FQ<br>
            </h5>
            <p></p>
            <h4>Email:</h4>
            <h5>QACINEMA&#64;QA.COM</h5>
        </div>
            <div class="col">
                <p></p><p></p>
                <h6>Where to find us:</h6>
                <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1PlZOY3Swroapc8RN8-mXy3o3lOrOZi0B" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>
</div>
</body>

}