@import Persistence.Domain.DiscussionBoardOBJ.DiscussionBoard
@import Persistence.Domain.Movies
@(form: Form[DiscussionBoard], discussions: Seq[DiscussionBoard])(implicit messages: Messages)

@main("Discussion Board") {
    <div class="container">
        <br><h1 id="get">Welcome to your discussion board</h1><hr/>
        <div class="row">
            <div class="col-sm-6">
                    @helper.form(routes.HomeController.createDiscBoard()) {
                    <div class="card form-floating" style="width: 18rem;">
                        @helper.inputText(form("username"), Symbol("label") -> "username:", Symbol("showConstraints") -> false)
                        @helper.inputText(form("content"), Symbol("label") -> "content", Symbol("showConstraints") -> false)
                        @helper.inputText(form("movieID"), Symbol("label") -> "movieID", Symbol("showConstraints") -> false)
                        @helper.inputText(form("mRating"), Symbol("label") -> "mRating", Symbol("showConstraints") -> false)
                        <button class="btn btn-primary" type="submit">Submit!</button>
                    </div>
            </div>

                <div class="col-sm-6">
                    <div class="card text-center" style="width: 18rem;">
                        @for(dboard <- discussions.filter(_.postChecker == true)) {
                            <div class="card-header">
                                @dboard.username
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">@dboard.content</li>
                                    <li class="list-group-item">@dboard.datetime</li>
                                </ul>
                            </div>
                            </hr>
                        }
                    </div>
                </div>
            </div>
    </div>
    }
}