@import views.html.helper.form
@import Persistence.Domain.DiscussionBoardOBJ.DiscussionBoard
@(form: Form[DiscussionBoard], discussions: Seq[DiscussionBoard])(implicit messages: Messages)

@main("Discussion Board") {
    <div class="container text-light">
    <h1>Welcome to your Discussion Board</h1>
    @helper.form(routes.HomeController.createDiscBoard()) {
        <div class="form-floating">
            @helper.inputText(form("content"), Symbol("label") -> "content", Symbol("showConstraints") -> false)
            @helper.inputText(form("movieID"), Symbol("label") -> "movieID", Symbol("showConstraints") -> false)
            @helper.inputText(form("mRating"), Symbol("label") -> "mRating", Symbol("showConstraints") -> false)
            <button class="btn btn-primary" type="submit">Submit!</button>
        </div>

        <div>
            <ul>
            @for(dboard <- discussions.filter(_.postChecker == true)) {
                <li>@dboard.content</li>
            }
            </ul>
        </div>
    </div>
    }
}