@main("Getting There") {

    <body>
        <div class="container">
            <h1>Getting there</h1>
            <div class="row">
                <div class="col-md">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2374.599266612334!2d-2.2436285483986036!3d53.47562157990819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487bb1ea57eb2a39%3A0x6b93de303a6a2776!2s8th%20Floor%2C%20St%20James&#39;s%20Bldg%2C%2079%20Oxford%20St%2C%20Manchester%20M1%206PP!5e0!3m2!1sen!2suk!4v1613407966479!5m2!1sen!2suk" width="400" height="300" frameborder="0" style="border: 0;" allowfullscreen="" aria-hidden="false" tabindex="0" id="mget"></iframe>
                    <p></p><h6>QA Learning Location,
                    QAC MANCHESTER,
                    5th Floor Anchorage 1,
                    Anchorage Quay
                    Salford Quays
                    Manchester
                    M50 3YJ</h6><p></p>
                </div>
                <div class="col-md"><p></p><p></p>
                    <h5>Public transport</h5><h6>Train: Manchester Piccadilly Station (1hr walk)</h6><p></p>
                    <h6>Tram: 50 from MediaCityUK to Harbour City Metrolink (Stop A)</h6><p></p>
                    <h5>Parking</h5><h6>Nearest car park is U Swim Carpark</h6><p></p>
                    <img src="@routes.Assets.versioned("/images/cinema.png")" id="cinema">
                </div>
            </div>
        </div>
    </body>
}