@(message: String)

@main("QA Cinema") {


<div class= "container text-light">
    <br><h1 id="hphead">Welcome to QA Cinema</h1>
    <h4 id="maintxt">The future of Movies with our premium screens</h4><hr/>
    <h6 id="subtxt">At QA Cinemas you can pay less to see the films that everyone’s raving about.<br>
    That means you’ll have more to spend on other things. Popcorn, anyone?.<br>
    Navigate to our Ticket Bookings page to book a ticket now!</h6>
<!-- Slideshow container -->
    <div class="slideshow-container">
        <div class="slideshow-container" id="slide">
            <img class="mySlides" src="@routes.Assets.versioned("images/ToyStory.png")">
            <img class="mySlides" src="@routes.Assets.versioned("images/Transformers.png")">
            <img class="mySlides" src="@routes.Assets.versioned("images/Nemo.png")">
        </div>
    </div>
    <hr/>
    <img src="@routes.Assets.versioned("images/banner.png")" alt="banner" id="banner">
</div>

    <script>
        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) {myIndex = 1}
            x[myIndex-1].style.display = "block";
            setTimeout(carousel, 3000); // Change image every 2 seconds
        }
    </script>
}