@main("Opening Times") {

    <body>
        <div class="container">
            <h1>Our Opening Times</h1><br/><br/><br/>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Monday</th>
                        <td>9:00 - 23:00</td>
                    </tr>
                    <tr>
                        <th scope="row">Tuesday</th>
                        <td>9:00 - 23:00</td>
                    </tr>
                    <tr>
                        <th scope="row">Wednesday</th>
                        <td>9:00 - 23:00</td>
                    </tr>
                    <tr>
                        <th scope="row">Thursday</th>
                        <td>9:00 - 23:00</td>
                    </tr>
                    <tr>
                        <th scope="row">Friday</th>
                        <td>9:00 - 23:00</td>
                    </tr>
                    <tr>
                        <th scope="row">Saturday</th>
                        <td>9:00 - 23:00</td>
                    </tr>
                    <tr>
                        <th scope="row">Sunday</th>
                        <td>9:00 - 23:00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
}