@main("Opening Times") {

    <body>
        <div class="container">
            <br><h1 id="othead">Opening Times</h1><br/><hr/><br/>
            <table class="table" id="times">
                <tbody>
                    <tr>
                        <th scope="row">Monday</th>
                        <td>9:00 - 23:00</td>
                    </tr>
                    <tr>
                        <th scope="row">Tuesday</th>
                        <td>9:00 - 23:00</td>
                    </tr>
                    <tr>
                        <th scope="row">Wednesday</th>
                        <td>9:00 - 23:00</td>
                    </tr>
                    <tr>
                        <th scope="row">Thursday</th>
                        <td>9:00 - 23:00</td>
                    </tr>
                    <tr>
                        <th scope="row">Friday</th>
                        <td>9:00 - 23:00</td>
                    </tr>
                    <tr>
                        <th scope="row">Saturday</th>
                        <td>9:00 - 23:00</td>
                    </tr>
                    <tr>
                        <th scope="row">Sunday</th>
                        <td>9:00 - 22:30</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
}