@main("Places to go") {
    <div class="container">
        <div class="row" id="abcol">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="@routes.Assets.versioned("images/The Temple.png")" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The Temple</h5>
                    </div>
                    <p>A former public toilet, this subterranean bar is now one of the coolest places to hang out in Manchester. The jukebox is an alternative/rock delight with Tom Waits and Rolling Stones playing alongside Mancunian bands like Elbow and I Am Kloot.</p>
                    <p><strong>20% Off With Cinema Ticket</strong></p>
                    <h3 id="cutxt"><a href="https://www.visitmanchester.com/food-and-drink/the-temple-of-convenience-p160601">Find Out More</a></h3>

                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="@routes.Assets.versioned("images/Industry Museum.png")" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Museum of Science and Industry</h5>
                    </div>
                    <p>Get your kids excited by the world of science and industry at the famous Manchester MOSI.</p>
                    <p><strong>15% Off With Cinema Ticket</strong></p>
                    <h3 id="cutxt"><a href="https://www.scienceandindustrymuseum.org.uk">Find Out More</a></h3>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="@routes.Assets.versioned("images/Manchester Musuem.png")" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Manchester Museum</h5>
                    </div>
                    <p>Walk with dinosaurs and discover history with a family friendly trip to the museuem .</p>
                    <p><strong>30% Off With Cinema Ticket</strong></p>
                    <h3 id="cutxt"><a href="https://www.museum.manchester.ac.uk/">Find Out More</a></h3>

                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="@routes.Assets.versioned("images/JunkYardGolf.png")" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Junk Yard Golf</h5>
                    </div>
                    <p>Challenge your friends and family to a crazy match of golf full of load of fun.</p>
                    <p><strong>25% Off With Cinema Ticket</strong></p>
                    <h3 id="cutxt"><a href="https://www.junkyardgolfclub.co.uk/manchester/">Find Out More</a></h3>

                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="@routes.Assets.versioned("images/Art Museum.png")" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Art Gallery</h5>
                    </div>
                    <p>Art enables people to see beyond their horizons; to look, take notice, play, create and share stories. Our learning programme for schools and colleges, families, adults and young people creates extraordinary encounters, connecting people with the cultural life of the gallery. Click on the links below to discover new ways to experience art.</p>
                    <p><strong>15% Off With Cinema Ticket</strong></p>
                    <h3 id="cutxt"><a href="https://manchesterartgallery.org/">Find Out More</a></h3>

                </div>
            </div>

            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="@routes.Assets.versioned("images/Wood.png")" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Wood Restaurant</h5>
                    </div>
                    <p>WOOD Manchester is Simon Wood’s flagship restaurant, situated in the heart of Manchester City Centre, on Jack Rosenthal Street in First Street.</p>
                    <p><strong>5% Off With Cinema Ticket</strong></p>
                    <h3 id="cutxt"><a href="https://woodrestaurantgroup.com/manchester">Find Out More</a></h3>

                </div>
            </div>

            </div>
        </div>
    </div>


}